.input {
    display: flex;
    height: 20%;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between
}

input::placeholder {
    font-size: larger;
    font-weight: 400;
}

.textbox {
    width: 88%;
    box-sizing: border-box;
    padding: 1em 0 1em 2em;
    margin-left: 2%;
}

.emoji {
    font-size: xx-large;
    margin-right: 0.5em;
}

.send-btn {
    width: 10%;
    border: none;
    background-color: none;
    padding: 0;
}

.input-left {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2%;
}