.profile {
    background-color: #242424;
    padding: 2rem 1rem 2rem 3rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.avatar-container {
    position: relative;
}

.avatar {
    width: 5em;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

.avatar:hover {
    opacity: 0.5;
}

.username {
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 0.5em;
}