.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #000000b0;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    color: white;
    height: 42rem;
    width: 25rem;
    border-radius: 5%;
    justify-content: space-between;
    box-shadow: 5px 5px #000000b0;
}

.image {
    margin-top: 10%;
    width: 30%;
    height: 25%;
    border-radius: 100%;
    background-color: #FFC700;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    row-gap: 1rem;
}

.input-text {
    width: 100%;
    height: 3rem;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 1rem;
    border: none;
}

.label {
    font-size: small;
    margin-bottom: 1em;
}

.input-button-signup {
    height: fit-content;
    width: fit-content;
    background-color: #3AA8AF;
    color: white;
    border-style: none;
    align-self: center;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 0.5em 2em;
}

.input-button-signup:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.signup-footer{
    width: 100%;
    display: flex;
    bottom: 0;
    padding-bottom: 5%;
}

.signup-footer a{
    color: white;
    text-decoration: none;
    font-size: small;
}

.signup-footer a:hover{
    cursor: pointer;
    color: #3AA8AF;
}

.error {
    color: red;
}

.hidden-error {
    color: transparent;
    user-select: none;
}