.chat {
    background-color: #333333;
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    height: 100%;
}