.tab {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 0 0.1%
}

.tab-header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    overflow-x: auto;
}

.tab-header {
    display: flex;
    width: 15%;
    font-size: 1em;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    margin-top:0.3%;
    margin-right:0.2%;
    border-radius: 40% 40% 0 0;
    box-sizing: border-box;
    padding: 1.2em 0em 1em 1.5em;
    color: #333333;
}

.tab-header button{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: black;
    padding: 0.4rem 0.8rem;
    font-size: large;
    margin: 0;
}

.tab-header:hover{
    cursor: pointer;
    font-size: 1.05em;
}

.tab-body {
    height: 94%;
    width: 99.8%;
    border-radius: 0 3% 3% 3%;
}
