.profile-modal {
    background-color: #242424;
    color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 3rem;
    width: 30rem;
    height: 30rem;
    z-index: 10;
}

.profile-modal-content {
    width: 100%;
    height: 100%;
}

.profile-modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.profile-modal-title {
    font-size: large;
    font-weight: bold;
}

.close-btn {
    color: white;
    cursor: pointer;
    font-size: x-large;
    margin: 0;
}

.profile-modal-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-modal-body input {
    margin-bottom: 1rem;
}

.profile-modal-body input[type="text"] {
    width: 100%;
    height: auto;
    min-height: 2.5rem;
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
    padding-left: 1rem;
}

.profile-modal-body label {
    color: rgb(255, 255, 255);
    font-size: small;
    margin-bottom: 0.5em;
}

input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

.profile-modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save-btn {
    border: none;
    border-radius: 20px;
    background-color: #3AA8AF;
    color: white;
    box-sizing: border-box;
    padding: 0.8rem 3rem;
    font-size: medium;
    margin-top: 2rem;
    cursor: pointer;
}