.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #000000b0;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    color: white;
    height: 30rem;
    width: 25rem;
    border-radius: 5%;
    justify-content: space-between;
    box-shadow: 5px 5px #000000b0;
}

.login-logo {
    margin-top: 10%;
    width: 30%;
    height: 25%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    row-gap: 1rem;
}

.input-text {
    width: 100%;
    height: 3rem;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 1rem;
    border: none;
}

.input-text::placeholder {
    font-size: medium;
}

.label {
    font-size: small;
    margin-bottom: 0.5rem;
}

.input-button {
    height: fit-content;
    width: fit-content;
    background-color: #3AA8AF;
    color: white;
    border-style: none;
    align-self: center;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 0.5em 2em;
}

.input-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.login-footer{
    width: 100%;
    display: flex;
    justify-content:space-around;
    bottom: 0;
    padding-bottom: 5%;
}

.login-footer a{
    color: white;
    text-decoration: none;
    font-size: small;
}

.login-footer a:hover{
    cursor: pointer;
    color: #3AA8AF;
}

.error {
    color: red;
}

.hidden-error {
    color: transparent;
    user-select: none;
}